@import "../../style/variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

.heading {
  .headerContainer {
    background: $background;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;

    & .header {
      font-size: 5rem;
      letter-spacing: 2px;
      font-weight: 900;
      color: $foreground;
      line-height: 0.9em;
      position: relative;
      z-index: 4;
      text-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15);
    }
    
    & .mobileHeading {
      display: none;
    }

    & .cover {
      width: 500px;
      margin-left: 80px;
      z-index: 4;
      opacity: 90%;
      transition: all 0.5s;

      &:hover {
        opacity: 100%;
        transform: translateY(-20px);
      }
    }
  }

  @media screen and (max-width: $break-md) {
    .headerContainer {
      padding: 100px 10px 10px 10px;
      align-content: flex-start;
      min-height: calc(100vh - 210px);

      & .header {
        display: none;
      }

      & .mobileHeading {
        display: block;
        font-size: 4rem;
        max-width: 300px;
        line-height: 5rem;
        font-weight: 900;
        color: $foreground;
        z-index: 4;
        text-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15);
      }

      & .cover {
        width: 300px;
        margin: 0px;
      }
    }
  }

  & .scrollDown {
    text-align: center;

    & .scrollDownIcon {
      height: 30px;
      transition: all 0.5s;
      animation-name: scrollDown;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5s;

      &:hover {
        cursor: pointer;
        transform: translateY(10px);
        animation-play-state: paused;
      }
    }

    @keyframes scrollDown {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(20px);
      }
      100% {
        transform: translateY(0px);
      }
    }
  }
}

.content {
  padding: 30px 100px 100px 100px;
  min-height: calc(100vh - 130px) !important;

  & h2 {
    font-size: 3.5rem;
    font-weight: 900;
    color: $primary;
    margin-bottom: 20px;
  }

  & .contentContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 80px;
  }
}

@media screen and (max-width: $break-md) {
  .content {
    padding: 30px 20px 20px 20px;

    & h2 {
      font-size: 2.5rem;
    }

    & .contentContainer {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      padding: 10px;
    }
  }
}
