$black: #0f172a;
$dark: #1e293b;
$white: #f4f4f5;
$red: #f87171;
$green: #14b8a6;
$yellow: #eab308;

$foreground: $white;
$background: $black;
$primary: $red;
$secondary: $green;

$break-sm: 640px;
$break-md: 820px;
$break-lg: 1024px;
$break-xl: 1280px;
